/.git
/.idea
/.vscode
/assets
/docs
/node_modules
/public/build
/var/cache/*
/var/log/*
/var/storage/*
.dockerignore
.env
.env.example
.gitignore
Dockerfile
Makefile
README.md
docker-compose.yml
phpcs.xml.dist
package.json
package-lock.json
webpack.config.js
yarn.lock