{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
{#            {% block sidebar %}#}
{#                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">#}
{#                    <div class="sidebar-sticky pt-3">#}
{#                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">#}
{#                            <span>Proxy</span>#}
{#                        </h6>#}
{#                        <ul class="nav flex-column mb-2">#}
{#                            <li class="nav-item">#}
{#                                <a class="nav-link" href="{{ path('admin.origin.list') }}">#}
{#                                    <span data-feather="file-text"></span>#}
{#                                    Origins#}
{#                                </a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </div>#}
{#                </nav>#}
{#            {% endblock %}#}
            <main role="main" class="col-md-12">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">{{ title }}</h1>
                    {% block actions %}

                    {% endblock %}
                </div>

                {% block content %}

                {% endblock %}
            </main>
        </div>
    </div>
{% endblock %}